[package]
name = 'b64'
publish = false
version = '0.1.0'
edition = '2021'

[lib]
crate-type = [ 'staticlib' ]
name = 'b64'

[dependencies]
base64 = "0.21.7"
extendr-api = {version = "*", features = ["either"]}
itertools = "0.12.0"
